* {
  font-family: sans-serif;
}

textarea {
  resize: none;
}

.textinput {
  width: 100%;
}

.centre {
  margin: auto;
  width: 70%;
}

.centretxt {
  text-align: center;
}

table {
  border-collapse: collapse;
}

th {
  border-bottom: solid 1px;
  font-weight: bold;
}

td {
  text-align: right;
}

img.centre {
  display: block;
}

img {
  max-width: 30%;
  height: auto;
}

label {
  font-weight: bold;
}

a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #557;
}

a:hover {
  color: #777;
}

.separator {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  color: #999999;
}

.footer {
  width: 100%;
  padding: 5px;
  background-color: #afafaf;
  position: fixed;
  bottom: 0;
  height: 50px;
  left: 0;
}





/* Mobile styling */
@media only screen and (max-width: 600px) {
  .centre {
    width: 90%;
  }
  img {
    max-width: 80%;
  }
}
